/* =============
    Base
============= */

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.content-spacing {
    padding: 10px;
}