/* =============
    Base
============= */

ul{
    padding:0px;

        li{
            list-style: none;
        }
}
    p{
        font-family: "Montserrat";
        font-weight: lighter; 
        font-size: 16px; 
        text-align: justify;  
        }

    h3 {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 25px;
        border-top: solid; 
        border-bottom: solid;
        text-align: center;
        
    }
    h2 {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 25px;
        border-top: solid; 
        border-bottom: solid;
        text-align: center;
    }
    h1 {
        font-family: "Montserrat"; 
        font-weight: bolder;
        font-size: 37px;}