/* =============
    Section-2
============= */
#section-2{
    margin: 35px 0;

    @include xl{
        margin: 52px 0;
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2 .";
    }
    

    #section-2-content{
        display: grid;
        grid-template-areas: 
        "section-2-text"
        "section-2-img";

        @include md{
            margin: 48px 0;

            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: 
            "section-2-img section-2-text";
        }
        
        @include xl{
            grid-area: section-2;
        }

        aside{
            grid-area: section-2-img;
            background-image: url('../img/section-2/leftside.jpg');
            background-size: cover;
            background-position: center;
            height: 75vh;
        
            @include md{
                height: 50vh;
               
            }

            @include lg{
                height: 735px;
            }
            
            @include xl{
                height: 85vh;
            }
          
        }
    
       #section-2-right{
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: ". section-2-content .";
            grid-area: section-2-text;
            margin-bottom: 35px;
    
            #section-2-right-content{
                grid-area: section-2-content;
                gap:20px;


                h3{
                    margin: 16px 0 10px; 
                    color: $charcoal;
                }
                p{
                    margin-bottom: 16px;
                    color: $black;
                }
            }
        }
    }

    
}