/* =============
    Section 5
============= */

#section-5-container{
    display: grid;
    grid-template-areas: "section-5";
    

     ul{
        grid-area: section-5;
        display: grid;
        gap:20px;
        list-style-type: none;
    }
        li{
            img{
                width: 100%;
            }
        }
}

