/* =============
    Section-5
============= */
#section-5{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-5 .";

    }

    ul{
        grid-area: section-5;
        grid-template-rows: repeat(3, 296px);
        display: grid;
        gap:20px;
        grid-template-areas: 
        "g1"
        "g2"
        "g3";
    }
        #section-5-content{
            display: grid;
            gap:20px;

            @include md{
                grid-template-areas: 
                "g1 g1"
                "g1 g1"
                "g2 g3";
                grid-template-rows: repeat(3, 340px);
            }

            @include lg{
                grid-template-areas: 
                "g1 g2"
                "g1 g3";

                grid-template-rows: repeat(2, 45vh);
            }

            @include xl{
                grid-area: section-5; 
            }

            li{
                background-size: cover;
                background-position: center;
               
            
            }

            #g1{

                grid-area: g1;
                background-image: url("../img/section-5/gallery-1.jpg");
                }
                
            }

            #g2{
                background-image: url("../img/section-5/gallery-2.jpg");
                @include lg{
                    grid-area: g2;
                }
            }
    
            #g3{
                background-image: url("../img/section-5/gallery-3.jpg");
                grid-area: g3;
            }
    
        }
    