/* =============
    Section 6
============= */

#section-6{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-6 .";
    

    @include md{
        display: grid;
        grid-template-columns: 15% auto 15%;
        grid-template-areas: ". section-6 .";
    }

    @include lg{
        grid-template-columns: 18% auto 18%;
    }

    }
        img{
            width: 100%;
        }

    #section-6-content{
        grid-area: section-6;}