/* =============
    Section-1
============= */
#section-1 {
    display: flex;
    text-align: left;

    background-image: url('../img/section-1/hero.jpg');
    background-size: cover;
    background-position: center;
    gap: 20px;
    height: 377px;

    @include md {
        height: 549px;
    }

    @include lg {
        height: 724px;
    }


    h1 {
        padding: 18% 0;

        color: $charcoal;
        margin: 34px;
    }

}