/* =============
    Section 2
============= */
#section-2{
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-areas: ". section-2 .";
        border: 1px solid red;


    @include lg{
        grid-template-columns: 20% auto 20%;
    }
  
    #section-2-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-2 .";
        

        #section-2-content{
            grid-area: section-2;
        }
        }
        aside 
            img {
                width: 100%;}
}