/* =============
    Footer
============= */
footer {

    background-color: $green;

    #footer-content {
        display: flex;
        justify-content: flex-end;

        aside {
            padding-right: 30%;

            @include md {
                padding-right: 38%;
            }

            @include lg {
                padding-right: 42%;
            }
        }


        h4 {
            color: $white;
            padding-top: 30px;
        }
    }
}